<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1">
<title>Login</title>

<link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>

	<div class="header">
		<div class="header-main">
			<h1>Đăng nhập</h1>
			<div class="header-bottom">
				<div class="header-right w3agile">

					<div class="header-left-bottom agileinfo">

						<form th:action="@{/login}" method="post">
							<label for="psw"><b>Tài khoản</b></label> <input type="text"
								placeholder="Tài khoản" name="username" required="required" />
							<p>
								<label for="psw"><b>Mật khẩu</b></label> <input type="password"
									placeholder="Mật khẩu" name="password" required="required" />
							<p class="errotl" th:if="${err != null}">Bạn nhập sai tài khoản hoặc mật
								khẩu</p>
							<input type="submit" value="Đăng nhập">
						</form>
						<div class="header-left-top">
							<div class="sign-up">
								Chưa có tài khoản >> <a th:href="@{register}">Đăng ký</a>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>