<!DOCTYPE html>
<html layout:decorator="client/template">
<head>
<meta charset="UTF-8">
<title>Thể loại</title>
</head>
<body layout:fragment="content" th:remove="tag">

	<form th:action="@{/productsByCategory}" method="get"></form>

	<div id="body">
		<!-- breadcrumb -->
		<div class="container">
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a class=" tet stext-109 cl8 hov-cl1 trans-04">
					<p th:text="#{menu.category}"></p>

				</a> <a class="stext-109 cl8 hov-cl1 trans-04"> <i
					class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i> <span
					class="tet" th:text="#{menu.ds}"></span>

				</a>

			</div>

		</div>
		<section class="sec-product-detail bg0 p-t-65 p-b-60">
			<div class="container">
				<div th:each="pro :${productList}">
					<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img th:src="@{'/download?image='+${pro.image}}"
									alt="IMG-PRODUCT"> <a
									th:href="@{ '/product?id='+${pro.id}}"
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
									Xem chi tiết </a>
							</div>
							<div class="tongnamegia">
							<div class="divname">
							<a  th:href="@{ '/product?id='+${pro.id}}"
										class="tensp"> <p th:text="${pro.name }"></p>
									</a></div>
									
							
									 <div class="divgia"><span class="giasp1"
											th:text="${#numbers.formatDecimal(pro.priceOut, 0, 'COMMA', 0, 'POINT')}"></span>  đ	
									 </div>
										</div>

							<!-- <div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="#"
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"> <a
										th:text="${pro.name }"></a>
									</a> <span class="stext-105 cl3"><span
										th:text="${#numbers.formatDecimal(pro.priceOut, 0, 'COMMA', 0, 'POINT')}"></span>đ

									</span> <span class="stext-105 cl3"> <a
										th:text="${pro.thuongHieuDTO.name}"></a>

									</span>

								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<a th:href="@{ '/member/add-to-cart?pid='+${pro.id}}"
										class="btn-addwish-b2 dis-block pos-relative"> <img
										class="icon-heart1 dis-block trans-04"
										src="image/iconcart1.png" alt="ICON"> <img
										class="icon-heart2 dis-block trans-04 ab-t-l"
										src="image/iconcart2.png" alt="ICON">
									</a>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<div>
			<!-- <a class="btn btn-warning" 
						th:href="@{'/productsByCategory?id='+${categoryId}+'&keyword=' + ${keyword} +'&page=' + ${page + 1}}">Xem tiếp dữ liệu</a> -->
		</div>
	</div>
	<div class="flex-c-m flex-w w-full p-t-45"></div>
</body>
</html>