.j {
    position: relative;

    display: flex;

    
    align-items: center;
    justify-content: center;
}

.range {
    width:210px;
    height:10px;

    border-radius: 4px;
    background-color: #f803adb5;
}

.range__button_1, .range__button_2 {
    position: absolute;
    top: 50%;

    width: 20px;
    height: 20px;

    cursor: move;
    transform: translateY(-50%);

    border: none;
    border-radius: 50%;
    background-color: #999;
}
.range__between
{
  position: absolute;
    height: 5px;
    width:0px;
    margin-top:3px;
    border: none;
    background-color: #559933;
}
.range_inpt1, .range_inpt2
{
  margin-top:20px;
  width: 88px;
}

button.buttonserache {
    margin-top: 57px;
}
input#id66i1 {
    float: left;
    margin-right: 20px;
    margin-left: 5px;
}
input#id66i2 {
    float: left;
}