<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="content-wrapper" style="position: relative;">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Dashboard <small>Control panel</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>

			<!-- Main content -->




			<footer
				style="border-top: 1px solid #d2d6de; text-align: center; background: #fff; color: #444; height: 60px; line-height: 60px; position: absolute; bottom: 0px; width: 100%">
				<strong>Copyright &copy; 2019 | <a href="#">TTH</a>.
				</strong>
			</footer>

		</div>
	</div>
</body>
</html>
