
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">SHOP</title>
<title>THT Shop</title>
<!-- Latest compiled and minified CSS -->

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- jQuery 2.2.0 -->
<script th:src="@{/admin/admin/jQuery/jQuery-2.2.0.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
	$.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script th:src="@{/admin/admin/js/bootstrap.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{/admin/admin/sparkline/jquery.sparkline.min.js}"></script>
<!-- jvectormap -->
<!-- Bootstrap WYSIHTML5 -->
<!-- Slimscroll -->
<script th:src="@{/admin/admin/slimScroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/admin/admin/fastclick/fastclick.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/admin/js/app.min.js}"></script>

<link rel="stylesheet" th:href="@{/static/admin/admin/css/bootstrap.min.css}">
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/admin/admin/css/AdminLTE.min.css}">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" th:href="@{/admin/admin/css/skins/_all-skins.min.css}">
<link rel="stylesheet" th:href="@{/admin/admin/css/admin.css}"> 
<link rel="stylesheet" th:href="@{/css/heade.css}"> 
</head>
<body>
	<div class="container-fluid">

		<div th:replace="admin/header::header"></div>
		<div th:replace="admin/menu::menu"></div>
		<div layout:fragment="content">empty</div>
		
	</div>
</body>
</html>